<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        .abs-center {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        
        .form {
            width: 60%;
        }
    </style>
</head>

<body>
    <div class="abs-center">
        <form class="centrado shadow p-3 mb-5 bg-body rounded" action="javascript:void(0)" @submit.prevent="crearLimpieza">
            <h1 class="mb-3 text-center">Crear Apartamento</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input class="form-control" type="text" name="direccion" placeholder="Dirección" v-model="apartamento.direccion">
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control" type="number" size="5" name="codigo_postal" placeholder="Código Postal" v-model="apartamento.codigo_postal">
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <select class="form-control" id="floatingSelect" name="habitaciones" aria-label="Floating label select example" v-model="apartamento.habitaciones">
                        <option value="" disabled selected hidden>Número de habitaciones</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" id="floatingSelect" name="habitaciones" aria-label="Floating label select example" v-model="apartamento.camas_dobles">
                        <option value="" disabled selected hidden>Número de camas dobles</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <select class="form-control" id="floatingSelect" name="camas_indiv" aria-label="Floating label select example" v-model="apartamento.camas_indiv">
                        <option value="" disabled selected hidden>Número de camas individuales</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" id="floatingSelect" name="habitaciones" aria-label="Floating label select example" v-model="apartamento.aseos">
                        <option value="" disabled selected hidden>Número de aseos</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <select class="form-control" id="floatingSelect" name="solarium" aria-label="Floating label select example" v-model="apartamento.solarium">
                        <option value="" disabled selected hidden>Solarium</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <select class="form-control" id="floatingSelect" name="propietario_id" aria-label="Floating label select example" v-model="propietario_id" v-if="usuario.tipo === 'admin'">
                            <option value="" disabled selected hidden>Propietario</option>
                            <option v-for="propietario in propietarios" :value='propietario.id'>
                                {{ propietario.id }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" v-if="usuario.tipo === 'propietario'">
                        <input class="form-control" v-model="limpieza.apartment_id" :placeholder="[limpieza.apartment_id]" disabled>
                    </div>
                </div>
            </div>


            <div class=" d-flex">
                <button type="submit" class="btn btn-primary mt-0 mb-0 ml-auto mr-auto">Crear limpieza</button>
            </div>
        </form>
    </div>
</body>
<script src="./public/assets/js/pruebas.js"></script>

</html>